<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="MobileOptimized" content="320">
    <meta name="description" content="">
    <meta name='copyright' content="">
    <meta name="og:title" content="">
    <meta name="og:image" content="">
    <meta name="og:description" content="">
    <meta name="og:email" content="">
    <meta name="og:phone_number" content="+380">
    <meta name="fb:page_id" content="">

    <title>ProjecName</title>

    <!--[if IE]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">

</head>
<body>
<!--[if lt IE 9]>
<p class="browserupgrade" style="color: #fff;background: #000;padding: 20px 15px; text-align: center;">You are using an
    <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your
    experience.</p>
<![endif]-->

<div class="fixcontent">

    <!-- HEADER -->
    <header class="header">
        <div class="container">

            <a href="#" class="header__logo">
                <span class="icon-logo"></span>
            </a>

            <nav class="header__nav" role="navigation">
                <ul class="header__nav-list">
                    <li class="header__nav-list-item">
                        <a href="#" class="header__nav-link header__nav-link--current"></a>
                    </li>
                </ul>
            </nav>

        </div>
    </header><!-- HEADER [END] -->
		

